<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="jetbrains.hub.server.maintenance.logging">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DATE} %-5p [%-30.30c{1}] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.github.sedovalx.deps.analyzer" level="INFO"/>
        <Root level="WARN">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>